<?xml version="1.0" encoding="utf-8"?>

<CompositionInfo xmlns="http://www.compositional.net/schema/compositionXml.1.0.xsd">

  <UsingAssembly fullName="MongoDB.Driver.Core, Version=2.5.1.0, Culture=neutral, PublicKeyToken=null" />

  <UsingAssembly fullName="MongoDB.Driver, Version=2.5.1.0, Culture=neutral, PublicKeyToken=null" />
  <Using namespace="MongoDB.Driver" />

  <UsingAssembly fullName="Nebula" />
  <Using namespace="Nebula.Connection.Implementation" />

  <SetVariable name="redis.configurationString" string="localhost:6379" />
 
  <SetVariable name="mongo.authenticationSettings" >
    <Null/>
  </SetVariable>

  <SetVariable name="mongo.clientSettings" objectType="MongoClientSettings">
    <Property name="ApplicationName" string="SampleJob" />
    <Property name="ConnectionMode" enumType="ConnectionMode" enumValue="Automatic" />
    <Property name="ReadPreference" objectType="ReadPreference">
      <ConstructorArgs>
        <Arg enumType="ReadPreferenceMode" enumValue="Nearest" />
        <Arg>
          <Null />
        </Arg>
        <Arg>
          <Null />
        </Arg>
      </ConstructorArgs>
    </Property>
    <Property name="MaxConnectionPoolSize" int32="500" />
    <Property name="WaitQueueSize" int32="2000" />
    <Property name="Servers" arrayElementType="MongoServerAddress">
      <Item objectType="MongoServerAddress">
        <ConstructorArgs>
          <Arg string="localhost" />
          <Arg int32="27017" />
        </ConstructorArgs>
      </Item>
    </Property>
  </SetVariable>

  <SetVariable name="mongo.databaseName" string="SampleJob" />

  <SetVariable name="mongo.databaseSettings" objectType="MongoDatabaseSettings">
    <Property name="ReadPreference" objectType="ReadPreference">
      <ConstructorArgs>
        <Arg enumType="ReadPreferenceMode" enumValue="Nearest" />
        <Arg>
          <Null />
        </Arg>
        <Arg>
          <Null />
        </Arg>
      </ConstructorArgs>
    </Property>
  </SetVariable>
</CompositionInfo>